
.mat-card {
  color: white;
  background-color: rgba(0,128,0,.9);
  margin-top: 2em;
  width: 90%;
  margin: 2em auto;
}

.responsive {
  height: 42vh;
}

@media (max-width: 700px) {
  .responsive {
    overflow: scroll;
    height : 90%;
  }
}
