<section id="contact">
  <div class="section-content">
    <h1 style="margin-top: 0em;" class="section-header">Get in touch!</h1>
    <h4 style="width: 75%;">Please email them a message today!</h4>
  </div>
  <div class="contact-section">
    <div class="container">
      <mat-form-field class="">
        <input matInput placeholder="Name" matAutosizeMinRows="3">
      </mat-form-field>
      <mat-form-field class="" style="margin-left: 1.5em;">
        <input matInput email placeholder="email address" matAutosizeMinRows="3">
      </mat-form-field>
      <mat-form-field phone style="margin-left: 1.5em;">
        <input matInput tel placeholder="phone number" matAutosizeMinRows="3">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Leave your comment here" matTextareaAutosize matAutosizeMinRows="3"
                  matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <div>
        <button mat-button type="button" style="background-color: lime;"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
      </div>
    </div>
  </div>
</section>
