.item {
  border: 1px solid white;
  background-color: rgba(0,0,0, .3);
  color: black;
  height:20em;
  margin-top: -5em;
  width: 27%;
  margin: 0 .5em;
  height: 10em;
}

.item:hover{
  border: 1px solid red;
}

.shirt-image {
  position: absolute;
  left: .5em;
  top: .5em;
  min-width: 10em;
  width: 10px;
}

.shirt-image:hover {
  min-width: 14em;
  width: 14em;
}

.item-container {
  position: absolute;
  top: 1.5em;
  right: .5em;
  height: 5em;
  padding: .5em;
  background-color: rgba(0,0,0, .6);
}

.item-title {
  text-align: right;
  color: white;
  font-size: 1.25em;
}

.description {
  text-align: right;
  margin: .5em auto;
  font-size: .8em;
  color: white;
}

.price {
  text-align: right;
  color: white;
  font-size: 1.2em;
}
.mat-grid-list {
  width: 90%;
  margin: 0 auto;
}

p {
  margin: 0;
}

.mobile {
  display:none;
}
.web {
  display: inline-flex;

}
@media(max-width:700px) {
  .mobile {
    display: block;
  }
  .web {
    display: none;
  }

  .item {
    width: 90%;
  }
  .shirt-image {
    width: 5em;
    min-width: 5em;
  }
}

