
<h2>featured items</h2>
<mat-card class="web item" *ngFor="let shirt of products" routerLink="/item" routerLinkActive="active">
  <div>
    <img class="shirt-image" src="{{ shirt.image }}" alt="">
  </div>
  <div class="item-container">
    <p class="item-title">{{ shirt.title }}</p>
    <p class="description">{{ shirt.description }}</p>
    <p class="price">{{ shirt.price | currency: 'USD' }}</p>
  </div>
</mat-card>

<div class="mobile">
  <p style="color: black;">featured items</p>
  <mat-card class="item" *ngFor="let shirt of products">
    <img class="shirt-image" src="{{ shirt.image }}" alt="">
    <div class="item-container">
      <p class="item-title">{{ shirt.title }}</p>
      <p class="description">{{ shirt.description }}</p>
      <p class="price">{{ shirt.price | currency: 'USD' }}</p>
    </div>
  </mat-card>
</div>
